*
  box-sizing: border-box

body
  min-height: 100vh
  // margin: 5vw
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

.content
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  margin: 3vw
  padding: 5vw
  width: fit-content
  box-shadow: 0 0 .2em var(--color)
  position: relative

  // Selection

  .documents, .books, .chapters
    display: flex
    flex-direction: row
    padding: 1em
    justify-content: center
    flex-wrap: wrap

    .document a, .book a, .chapter a
      font-size: 1.5em
      padding: .7em 1.2em
      margin: .5em
      background: var(--color)
      color: var(--color-text)
      border-radius: var(--border-radius)

  // Reading

  .top
    position: relative
    text-align: center
    top: -4vw
    color: var(--color-text-secondary)
    font-size: .8em
    div
      font-weight: bold
      // color: var(--color-text-secondary)
      font-size: 1.2em

  .title
    font-size: 1em
    .reading
      font-size: 2em

  .verses
    font-size: 18px
    display: flex
    flex-direction: column

    .verse
      transition: .5s
      margin: 0 .5em
      padding: .2em
      width: fit-content
      border-radius: var(--border-radius)

      sup
        background: initial
        margin: initial
        padding: initial
        font-size: initial
        z-index: -1
        a
          color: var(--color-text-secondary)

      sup.strong
        color: var(--color-secondary)
        font-size: 0.6em
        display: var(--strongs)
      span.explanation
        color: var(--color)
        display: var(--explanations)

      &:target
        background: #44ff0069

  .controls
    position: fixed
    width: 100%
    height: 100%
    display: flex
    flex-direction: row
    justify-content: space-between
    pointer-events: none
    align-items: center
    top: 2em
    left: 0
    padding: 1em

    @media screen and (max-width: 1200px)
      height: 0

    a
      pointer-events: all !important
      padding: 1em
      height: 4em
      width: 4em
      border-radius: 50%
      background: var(--color)
      position: relative
      &::before
        position: absolute
        top: 47%
        left: 50%
        transform: translate(-50%, -50%)
        color: var(--color-text-secondary)
        font-size: 3em
      &.previous::before
        content: "←"
      &.next::before
        content: "→"

// All

footer
  left: 0
  bottom: 0
  width: 100%
  text-align: center
  padding: 1em

  .contribute
    margin-bottom: 2em

  .glory
    margin-top: 1em
    font-size: 1.1em
    font-weight: bold
