$color: #0e3e53
$colorAccent: #1d1c2e

$colorSecondary: #479c9c
$colorSecondaryAccent: mix($color, $colorSecondary, 30%)

$colorBg: #181722
$colorBgSecondary: mix(white, mix($color, $colorBg, 20%), 5%)

$colorWarning: #f78282

$colorLink: #1b96bb
$colorShadow: mix($color, $color, 50%)
$colorTable: $color
$colorText: mix($color, white, 10%)
$colorTextSecondary: mix($color, white, 50%)

$blobColor: mix($colorBg, $color, 90%)
$blobColor_hover: mix($color, black, 50%)

$titleFrom: $color
$titleTo: mix($color, $colorLink, 20%)
$titleBetween: mix($color, $colorTextSecondary, 60%)

:root
  --active-brightness: 0.9
  --border-radius: 1em
  --box-shadow: 0 0 .4em
  --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif
  --hover-brightness: 1.2
  --justify-important: center
  --justify-normal: left
  --line-height: 1.5
  --width-card: 300px
  --width-card-medium: 24em
  --width-card-wide: 800px
  --width-content: 70em
  
  --color: #{$color}
  --color-accent: #{$colorAccent}
  --color-warning: #{$colorWarning}
  --color-bg: #{$colorBg}
  --color-bg-secondary: #{$colorBgSecondary}
  --color-link: #{$colorLink}
  --color-secondary: #{$colorSecondary}
  --color-secondary-accent: #{$colorSecondaryAccent}
  --color-shadow: #{$colorShadow}
  --color-table: #{$colorTable}
  --color-text: #{$colorText}
  --color-text-secondary: #{$colorTextSecondary}
  --title-from: #{$titleFrom}
  --title-to: #{$titleTo}
  --title-between: #{$titleBetween}
  --blob-color: #{$blobColor}
  --blob-color-hover: #{$blobColor_hover}

*
  --balloon-border-radius: .5em
  --balloon-color: var(--color-bg-secondary)
  --balloon-text-color: var(--color-text)
  --balloon-font-size: 12px
  --balloon-move: 1em
